* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightcyan;
}

.container {
    padding: 5% 25%;
}

h1 {
    border-bottom: 0.1em solid grey;
}

.shuttle-svg {
    width: 4%;
    z-index: -1;
    transition: 0.5s;
}

.image-wrapper {
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.5s linear;
    border-bottom: 0.1em solid grey;
}

.image-wrapper img {
    width: 50%;
    margin-bottom: 1em;
    transform: scale(0.9);
    transition: 0.5s;
}

input:checked ~ .image-wrapper img {
    transform: scale(1);
}


.content:hover .shuttle-svg {
    z-index: 0;
}

label {
    cursor: pointer;
}

label:hover .shuttle-svg {
    transform: rotate(90deg);
    transition: all 0.5s;
}

label:hover .image-wrapper {
    max-height: 100vh;
}

label:active .image-wrapper {
    opacity: 50%;
}

label:hover .image-wrapper img {
    transform: scale(1);
    transition: 0.5s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

h3 {
    color: darkgreen;
    font-weight: bold;
}

input:checked ~ .image-wrapper {
    max-height: 100vh;
}

input:checked ~ div h3 {
    color: black;
}

input:checked ~ div .shuttle-svg {
    transform: rotate(90deg);
}

.content:hover h3 {
    color: black;
}

label:active .header h3 {
    color: darkgreen;
}




