* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: lightcyan;
    height: 100vh;
}

.container {
    padding: 5% 25% 0 25%;
}

h1 {
    border-bottom: 1px solid grey;
}

.item {
    width: 100%;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

input {
    display: none;
}

label {
    display: flex;
    color: darkgreen;
    cursor: pointer;
    font-weight: bold;
    height: 2em;
    align-items: center;
}

.image-wrapper {
    height: 0;
    /*transition: all 1s ease;*/
    overflow: hidden;
    text-align: center;
}

img {
    width: 50%;
    margin-bottom: 1em;
}

input:checked ~ .image-wrapper {
    height: 100%;
    /*transition: all 1s ease;*/
}

input:checked ~ label {
    color: black;
}

.content:hover label {
    color: black;
}
